@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@900&family=Open+Sans:wght@800&display=swap');
body{
    background-color: #FFF3E5;
}
.header{
    width: 100%;
    height: 3px;
    background-color:#021E27;
    transition: 1s;
    z-index: 100;
    position: absolute;
    margin-top: 10px;

}


.inhalt{
    z-index: 1200;
    background-color: #021E27;
    width: 100%;
    height: 3px;
    transition:  1s;
    margin-top: 10px;
    position: absolute;
}

#blau{
    font-family: 'Lexend Deca', sans-serif;
    text-align: left;
    font-size: 10rem;
    z-index: -250;
    margin-top: -60px;
    margin-bottom: -15px;
    margin-left: 5vw;
    color: #021E27;

}

#pause{
    font-family: 'Lexend Deca', sans-serif;
    text-align: left;
    font-size: 10rem;
    z-index: -200;
    color: #06829D;
    margin-top: -160px;
    margin-bottom: -15px;
    margin-left: 15vw;
}
#containerBlau{
    width: 500px;
    z-index: -1;
}

#containerPause{
    width: 700px;
    z-index: -1;

}

#containerHeader{
    background-color:  #FFF3E5;
    height: 40px;
    width: 100%;
    z-index: 1500;
    margin-bottom: -80px;
    position: relative;
}

#containerInhalt{
    background-color: #FFF3E5;
    margin-top: -40px;
    height: 40px;
    width: 100%;
    z-index: 1500;
    position: relative;
    transition: 1s;
}

#containerSchrift{
    z-index: 3000;
}

#containerSchrift:hover ~#containerInhalt{
    margin-top: 0;
    transition: 0.8s;
}
#containerSchrift:hover ~#containerHeader{
    margin-bottom: 0px;
    transition: 0.8s;
}



